version: '2'
services:
  lint-shellcheck:
    image: koalaman/shellcheck-alpine:v0.11.0@sha256:9955be09ea7f0dbf7ae942ac1f2094355bb30d96fffba0ec09f5432207544002
    volumes:
      - ".:/plugin:ro"
    entrypoint: sh
    command:
      - -c
      - 'shellcheck /plugin/hooks/*'

  lint-plugin:
    image: buildkite/plugin-linter:v3.0.0@sha256:6ad2532e7763eb9a2f9d8f1700b3424e0ec4310721d90e10026f7e3bdfd06cd2
    volumes:
      - ".:/plugin:ro"
    command:
      - --id=planetscale/vault-gcp-creds

  tests:
    image: buildkite/plugin-tester:v4.2.0@sha256:21067012f59af6b8316cceb95850e89a542b50338c72d209a68bbebb33aff8c3
    volumes:
      - ".:/plugin:ro"
