version: '2'
services:
  lint-shellcheck:
    image: koalaman/shellcheck-alpine:v0.11.0@sha256:9955be09ea7f0dbf7ae942ac1f2094355bb30d96fffba0ec09f5432207544002
    volumes:
      - ".:/plugin:ro"
    entrypoint: sh
    command:
      - -c
      - 'shellcheck /plugin/hooks/*'

  lint-plugin:
    image: buildkite/plugin-linter:v2.1.0@sha256:bcd1e565e14bbef2f76266ac935e17c419caaf39e0809f84adf522976c27072a
    volumes:
      - ".:/plugin:ro"
    command:
      - --id=planetscale/vault-gcp-creds

  tests:
    image: buildkite/plugin-tester:v4.3.0@sha256:86c728d8526e22f5d26c1b65e2cae1dfb2d9767fe24d560563895d051b258c84
    volumes:
      - ".:/plugin:ro"
